// Styles for Header Component

header
  background: #74a089
  padding: 20px 0

  .logo
    max-width: 70px

    svg
      transition: 0.3s ease all;
      width: 100%

      &:hover
        fill: #f6aeb1